{% extends "main_template.html" %}

{% block title %}
Parameters
{% endblock %} 

{% block main_container %}  
<div>
    <h2>formaction tag with method POST</h2>
    <div>
        <h3>link card form without parameters</h3>
        <form action="" method="post">
            <button class="btn btn-primary" formaction="/gadgets/cards">card</button>
            <button class="btn btn-primary" formaction="colors.html">color</button>
        </form>
        <h3>link card form with parameters</h3>
        <form action="" method="">
            <input type="text" name="name" value="youngji" class="form-control">
            <input type="text" name="email" value="waity0912@gmail.com" class="form-control">
            <button class="btn btn-primary" formaction="/gadgets/cards" formmethod="get">card with method GET</button>
            <button class="btn btn-primary" formaction="/gadgets/cards" formmethod="post">card with method POST</button>
            <button class="btn btn-primary" formaction="colors.html" formmethod="post">color with method POST</button>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
footer
{% endblock %}    
