{% extends "main_template.html" %}

{% block title %}  
회원 상세보기</title>
{% endblock %} 

{% block main_container %} 
<h2>회원 상세보기</h2>
<form action="" method="">
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        ************
    </div>
    <div class="form-check mb-3">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" disabled name="manager"> 관리자 여부
        </label>
    </div>
    <div class="mb-3">
        <label for="sel1" class="form-label">Select list (select one):</label>
        1
    </div>
    <div>
        <label for="comment">Comments:</label>
        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" formmethod="get" formaction="/users/list">List</button>
    <button type="submit" class="btn btn-danger" formmethod="post" formaction="/users/list">Delete</button>
</form>
{% endblock %}

{% block footer %}
footer
{% endblock %}   